/* Fyrir allt */
body {
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 26pt;
}
.linkur_takki {
    all: unset;
    border: 2px outset blue;
    background: lightblue;
}
.linkur_takki:hover,
.linkur_takki:active {
    border: 2px inset blue;
}

/* Grid Area */
.content {grid-area: content}
.sidebar {grid-area: sidebar}
.sidebar2 {grid-area: sidebar2}

/* Template areas */
.sidebar_holder {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "sidebar content sidebar2";
}
.sidebar_split {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.sidebar_holder_half {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Padding og margin */
.sidebar {
  margin: .4em;
}
.sidebar2 {
  margin: .4em;
}
/* Litur */
.ny_blog_titill {
  color: black;
}
/* Texta stærð */
.like_a_sidebar {
  font-size: 2em;
}

/* Annað */
.forsida_titill {
    text-align: center;
}
/* Like takki */
.like_takki {
  width: 1em;
  height: 1em;
}
.like_a_sidebar {
  text-align: right;
  margin: 16px 0;
}
/* ========================================
  Bæta við grein
  ======================================== */
  .skrifa_nyjan_post {
    max-width: 80%;
    margin: auto;
  }
  .fyrirsogn_newpost,
  .meginmal_newpost {
    width: 100%;
    font-size: 18pt;
  }
  .send_newpost {
    float: right;
    margin-top: 1em;
  }
  .h_newpost {
    text-align: center;
  }

/* ========================================
  Yfirstikan
  ======================================== */
  .topnav {
    display: block;
    position: fixed;
    width: 100%;
    height: 4em;
    background: lightblue;
    top: 0;
    left: 0;
    right: 0;
  }
  .topmenu {
    display: flex;
    flex-flow: row;
    justify-content: center;
    z-index: 998;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .topmenu a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: .4em 1em; 
  }
  /* ====== linkar ====== */
  .topmenu a:hover {
    color: white;
    background-color: blue;
  }
  
  .topmenu a:active {
    color: white;
    background-color: blue;
  }
  .nav_whitespace {
    display: block;
    position: relative;
    z-index: -1;
    height: 2em;
    top: 0;
  }