* {
    box-sizing: border-box;
}

body {
    max-width: 70em;
    margin: 0 auto;
    font-family: sans-serif;
}
.haus,
.fotur {
    border: .2em solid #888;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
}
.oll_fyrirtaeki {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 1.5em;
}
.oll_fyrirtaeki a {
    color: black;
    text-decoration: none;
}
.odyrasta_bensin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.odyrasta_bensin div p {
    margin: .5em;
}

.kort {
    width: 80%;
    height: 30em;
}
.kort_og_fleira {
    margin: auto;
    text-align: center;
}


/* =======================================
   Tafla 1
  ======================================== */
  .tafla_1 {
    border-collapse: collapse;
    margin: 1em auto;
}
.tafla_1 thead tr th,
.tafla_1 tbody tr td {
    border: 1px solid black;
    padding: 10px 15px;
}

@media screen and (max-width: 37.5em) {
    .tafla_1 thead {
        display: none;
    }
    .tafla_1 td {
        display: block;
    }
    .tafla_1 tr {
        display: block;
        margin-bottom: .75em;
    }
    .tafla_1 td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}

/*  ========================================
  Viðmið - breakpoints 37.5em = 600px + 
  ========================================*/
@media screen and (max-width: 37.5em) {  
    .oll_fyrirtaeki{
        flex-flow: column;
        text-align: center;
    }
    .odyrasta_bensin {
        text-align: center;
    }
}
/* ========================================
  Viðmið - breakpoints 48em = 760px +
  ======================================== */
@media screen and (min-width: 48em) {  
    
}