body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
/* Grid Area */
.fot_1 {grid-area: fot_1}
.fot_2 {grid-area: fot_2}
.fot_3 {grid-area: fot_3}
.fot_4 {grid-area: fot_4}
.fot_5 {grid-area: fot_5}
.fot_6 {grid-area: fot_6}

.adalmynd_vara {grid-area: adalmynd_vara}
.texti_vara {grid-area: texti_vara}

/*======================================
 Haus
======================================== */
.haus div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    padding: .75em;
    position: fixed;
    width: 100%;
}
.haus div * {
    margin: 0 .15em;
}
.haus div h3 {
    margin: 0 1em;
}
.bil_fyrir_nedan_haus {
    display: block;
    width: 100%;
    height: 3.82em;
}
/*======================================
 Aðal Síða
======================================== */
.oll_fot {
    display: grid;
    margin: auto;

    /* Grid Template Areas */
    grid-template-areas: 
    "fot_1"
    "fot_2"
    "fot_3"
    "fot_4"
    "fot_5"
    "fot_6";
}
.fot_1,
.fot_2,
.fot_3,
.fot_4,
.fot_5,
.fot_6 {
    max-width: 25em;
    height: auto;
    margin: .5em auto;
}
.fot2 {
    padding: .75em .75em;
    margin: .50em;
    background-color: lightblue;
    border-radius: 1em;
}
.mynd_1 {
    width: 100%;
    border-radius: 1em;
}
.verd {
    float: right;
}
/*======================================
 Vara
======================================== */
.AdalView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "adalmynd_vara texti_vara";
}
.adalmynd_vara {
    margin: .75em;
}
.adalmynd_vara img {
    width: 100%;
    height: auto;
    border-radius: 1.5em;
}
.nafn_vara {
    margin-bottom: .2em;
}
.verd_vara {
    margin-top: 0;
}
/*======================================
 Fótur
======================================== */
.fotur {
    text-align: center;
    background-color: lightblue;
}
.fotur h4 {
    margin: 0;
    padding: 1em;
}
/*======================================
 Karfa
======================================== */
.karfa_takki {
    text-align: right;
}
.topnav input {
    display: none;
}
.topnav label {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    border: 3px outset red;
    font-size: 1.2em;
    text-align: center;
    padding: .2em .4em;
    background-color: lightblue;
}
.karfa_takki a:hover ~ .topmenu {
    position: fixed;
    bottom: 2.1em;
    left: 0;
  
    transition: all .5s ease;
}
.karfa_takki a:hover + label {
    box-shadow: inset 0 .2em rgba(0,0,0,.25);
    border: 2px inset red;
}
.topmenu {
    display: block;
    position: fixed;
    bottom: -20.1em;
    left: 0;
    width: 100%;
    z-index: 90;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: lightblue;
    transition: all .5s ease;
}
.topmenu li {
    border: 0;
    border-bottom: 1px solid black;
    background-color: lightblue;
    padding: 0;
}
.topmenu a {
    display: block;     /* ath! */
    color: black;
    text-decoration: none;
    text-align: center;
    padding: .4em 1em;
}
  
  /* ====== linkar ====== */
  
.topmenu a:hover {
    color: white;
    background-color: darkblue
}
  
.topmenu a:active {
    color: white;
    background-color: darkblue;
}
/* .karfa_hover {
    display: none;
    background-color: black;
}
.karfa_takki a:hover ~ .karfa_hover {
    display: block;
    position: fixed;
    bottom: 4.1em;
    right: 0;
} */

/*======================================
 Viðmið - breakpoints 37.5em = 600px +
======================================== */
@media screen and (min-width: 37.5em) {  
    .oll_fot {
        grid-template-areas: 
        "fot_1 fot_2"
        "fot_3 fot_4"
        "fot_5 fot_6";
    }
}
/*======================================
 Viðmið - breakpoints 60em = 960px
======================================== */
@media screen and (min-width: 60em) {
    .oll_fot {
        grid-template-areas: 
        "fot_1 fot_2 fot_3"
        "fot_4 fot_5 fot_6";
    }
}
/*======================================
 Viðmið - breakpoints 80em = 1600px
======================================== */
@media screen and (min-width: 80em) {
    .oll_fot {
        grid-template-areas: 
        "fot_1 fot_2 fot_3 fot_4"
        "fot_5 fot_6";
    }
}